.network {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  background: #f6fcfe;
  margin-bottom: 100px;

  .container {
    .content {
      max-width: 700px;

      h2 {
        font-weight: 300;
        font-size: 34px;
      }

      p {
        margin-top: 20px;
      }
    }
  }

  .twirly {
    margin: 150px auto 0;
    position: relative;
    max-width: 1300px;
    width: calc(100% - 150px);

    &.mobile {
      display: none;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .overlay-item {
        position: absolute;
        text-align: center;
        width: 14.35%;
        text-shadow:
          /* first layer at 1px */
          -1px -1px 0px #f6fcfe,
          0px -1px 0px #f6fcfe,
          1px -1px 0px #f6fcfe,
          -1px  0px 0px #f6fcfe,
          1px  0px 0px #f6fcfe,
          -1px  1px 0px #f6fcfe,
          0px  1px 0px #f6fcfe,
          1px  1px 0px #f6fcfe,
            /* second layer at 2px */
          -2px -2px 0px #f6fcfe,
          -1px -2px 0px #f6fcfe,
          0px -2px 0px #f6fcfe,
          1px -2px 0px #f6fcfe,
          2px -2px 0px #f6fcfe,
          2px -1px 0px #f6fcfe,
          2px  0px 0px #f6fcfe,
          2px  1px 0px #f6fcfe,
          2px  2px 0px #f6fcfe,
          1px  2px 0px #f6fcfe,
          0px  2px 0px #f6fcfe,
          -1px  2px 0px #f6fcfe,
          -2px  2px 0px #f6fcfe,
          -2px  1px 0px #f6fcfe,
          -2px  0px 0px #f6fcfe,
          -2px -1px 0px #f6fcfe;

        transition: all .2s ease-in-out;

        img {
          margin-bottom: -60px;
        }

        p {
          margin: 0;
          line-height: 1.2;
        }

        h4 {
          font-size: 18px;
          hyphens: auto;
        }

        img {
          max-width: 500px;
          width: 100%;
          position: relative;
        }

        &.casting-platform { top: -19%; left: 11.5%; }
        &.talent { top: 30%; left: -9%; }
        &.blockchain { top: 30%; left: 33.5%; }
        &.transaction { top: -19%; left: 56%; }
        &.smartcontracts { top: 78%; left: 56%; }
        &.ipfs { top: 30%; left: 79%; }
        &.user-profiles2 { top: 30%; left: 93.2%; }
      }
    }

    svg {
      overflow: visible;

      path {
        stroke-width: .5;

        &#path1, &#path1Mobile, &#path7, &#path7Mobile, &#path8, &#path8Mobile {
          stroke-dasharray: 1.5;
          stroke-dashoffset: 50;
          animation: dash 5s linear infinite;
        }
      }
    }

    &.mobile {
      .overlay {
        .overlay-item {
          width: 40%;

          &.casting-platform { top: 14.5%; left: 79.7%; }
          &.talent { top: -4%; left: 30%; }
          &.blockchain { top: 37%; left: 30%; }
          &.transaction { top: 59%; left: 79.7%; }
          &.smartcontracts { top: 59%; left: -19.5%; }
          &.ipfs { top: 80%; left: 30%; }
          &.user-profiles2 { top: 95%; left: 30%; }
        }
      }
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}