section.team-advisors {
  padding: 100px 0;

  .close-description {
    height: 30px;
    width: 30px;
    position: absolute;
    right: -15px;
    top: -60px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    visibility: hidden;
    cursor: pointer;

    svg {
      stroke: $primary-color;
      stroke-width: 11px;
      height: 15px;
      width: 15px;
      margin-top: 10px;
    }
  }

  span.team-right, span.team-left {
    background: white;
    width: 30px;
    height: 30px;
    display: none;
    border-radius: 50%;
    border: 1px solid #00112a;
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 40%;
    text-align: center;

    &:hover {
      background: $text-color;

      svg {
        fill: white;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
    }
  }

  span.team-right {
    right: -50px;
  }

  span.team-left {
    left: -50px;
  }

  h2 {
    font-weight: $font-weight-light;
  }

  p.advisor-subtitle {
    width: 100%;
    max-width: 700px;
  }

  .show-more {
    cursor: pointer;
    color: $primary-color;
    display: block;
    margin: 0 auto;
    text-align: center;

    svg {
      fill: $primary-color;
      transform: rotate(-90deg);
      width: 15px;

      transition: all .2s ease-in-out;
    }

    &.active {
      svg {
        transform: rotate(90deg);
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .team-carousel-inner {
    position: relative;
    left: 0;
    transition: all .5s ease-in-out;
  }

  .membercontainer {
    max-width: 350px;
    width: calc(25% - 52.5px);
    position: relative;
    margin-bottom: 30px;
    vertical-align: top;
    display: none;

    &.rick {
      .memberimage {
        img.photo {
          transform: translateY(-43%);
        }
      }
    }

    &.mark {
      .memberimage {
        img.photo {
          transform: translateY(-45%);
        }
      }
    }

    &:nth-child(-n+4) {
      display: inline-block !important;
      opacity: 1 !important;
    }

    &:nth-child(4n+2) {
      margin: 0 35px 30px 70px;
    }

    &:nth-child(4n+3) {
      margin: 0 70px 30px 35px;
    }

    &:nth-child(4n+4) {

    }

    &.active {
      .square {
        left: 0!important;
        mix-blend-mode: darken!important;
      }
    }

    &:hover {
      .memberimage {
        .square {
          left: -350px!important;
          mix-blend-mode: darken!important;
        }
      }
    }

    .memberimage {
      width: 100%;
      position: relative;
      height: 170px;
      overflow: hidden;
      margin-bottom: 30px;
      box-shadow: 40px 40px 70px 0 rgba(0, 0, 0, 0.15);

      &:before {
        content: '';
        position: absolute;
        width: 300px;
        height: 115%;
        right: 0;
        top: 45%;
        transform: translate(5%, -50%);
        background: url(assets/img/shadow.png);
        background-size: cover;
        opacity: .3;
      }

      a {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: $text-color;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 100;
        text-align: center;
        transition: all .15s ease-in-out;

        box-shadow: 5px 10px 30px 0 rgba(black, .3);

        img {
          width: 18px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      // Moet nog aangepast wanneer foto's uitgeknipt zijn
      img.photo {
        position: absolute;
        width: 100%; // auto
        height: auto; // mag weg straks
        //min-height: 100%;
        //max-height: 110%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      .square {
        background: $primary-color;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 99;
        mix-blend-mode: multiply;
        transition: left .8s cubic-bezier(1,0,.16,1);
        bottom: 0;
        left: -350px;

        //.dots {
        //  position: absolute;
        //  height: 55%;
        //  width: 65%;
        //  background: url(assets/img/dotted_pattern.png);
        //  display: block;
        //  vertical-align: middle;
        //  transform: translateY(50%);
        //  opacity: 1;
        //  mix-blend-mode: darken;
        //  transition: transform .8s cubic-bezier(0.6, 0.04, 0.98, 0.335);
        //}
      }
    }

    .memberdetails {
      margin-top: 20px;
      position: relative;

      h3 {
        font-size: 20px;
        margin-bottom: 0;
      }

      p.job-title {
        font-weight: $font-weight-light;
      }
    }

    .description {
      position: relative;

      p {
        font-size: 14px;
        max-height: 150px;
        padding-bottom: 50px;
        overflow: hidden;
        box-sizing: border-box;

        transition: all 1s ease-in-out;
      }

      &.open {
        cursor: pointer;
        p {
          max-height: 2000px;
        }

        .close-description {
          opacity: 1;
          visibility: visible;
        }

        &:after, &:before {
          display: none;
        }
      }

      &:after {
        content: '';
        height: 50px;
        width: 100%;
        bottom: 0;
        position: absolute;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&0+3,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      }

      &:before {
        opacity: 0;
        cursor: pointer;
        z-index: 10;
        content: 'Read full bio';
        padding: 5px 20px;
        border-radius: 25px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        width: 85px;
        top: 50%;
        left: 50%;
        background: $primary-color;
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: 5px 10px 20px 0 rgba(black, .15);

        transition: all .2s ease-in-out;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .advisors {
    margin: 100px auto 50px;
  }

  .table {
    margin-top: 30px;
  }

  .advisor {
    max-width: 350px;
    width: calc(25% - 52.5px);
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;

    &:nth-child(4n+3) {
      margin: 0 70px 0 35px;
    }

    &:nth-child(4n+2) {
      margin: 0 35px 0 70px;
    }

    &:nth-of-type(2) {
      .dots {
        transition-delay: .7s !important;
      }
    }
    &:nth-of-type(3) {
      .dots {
        transition-delay: .9s !important;
      }
    }
    &:nth-of-type(4) {
      .dots {
        transition-delay: 1.1s !important;
      }
    }

    span {
      display: block;

      &.img {
        width: 100%;
        height: 170px;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.05);

        .dots {
          position: absolute;
          height: 55%;
          width: 65%;
          background: url(assets/img/dotted_pattern.png);
          display: block;
          vertical-align: middle;
          transform: translate(-100%, 50%);
          opacity: 1;
          mix-blend-mode: darken;
          transition: transform .8s cubic-bezier(1,0,.16,1);
          transition-delay: .5s;
        }

        img.advisor-img {
          position: absolute;
          width: auto;
          min-height: 100%;
          max-height: 110%;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:before {
          content: '';
          position: absolute;
          width: 300px;
          height: 115%;
          right: 0;
          top: 45%;
          transform: translate(5%, -50%);
          background: url(assets/img/shadow.png);
          background-size: cover;
          opacity: .3;
        }
      }

      .description {
        position: relative;

        p {
          font-size: 14px;
          max-height: 150px;
          padding-bottom: 50px;
          overflow: hidden;
          box-sizing: border-box;

          transition: all 1s ease-in-out;
        }

        &.open {
          p {
            max-height: 2000px;
          }

          .close-description {
            opacity: 1;
            visibility: visible;
          }

          &:after, &:before {
            display: none;
          }
        }

        &:after {
          content: '';
          height: 50px;
          width: 100%;
          bottom: 0;
          position: absolute;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&0+3,1+100 */
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }

        &:before {
          opacity: 0;
          cursor: pointer;
          z-index: 10;
          content: 'Read full bio';
          padding: 5px 20px;
          border-radius: 25px;
          color: white;
          font-size: 14px;
          font-weight: bold;
          width: 85px;
          top: 50%;
          left: 50%;
          background: $primary-color;
          transform: translate(-50%, -50%);
          position: absolute;
          box-shadow: 5px 10px 20px 0 rgba(black, .15);

          transition: all .2s ease-in-out;
        }

        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
    }

    p {
      font-size: 16px;
    }

    a.linkedin {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: $text-color;
      position: absolute;
      top: 15px;
      left: 15px;
      text-align: center;
      transition: all .15s ease-in-out;

      box-shadow: 5px 10px 30px 0 rgba(black, .3);

      img {
        width: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &.active {
    .advisor {
      .dots {
        transform: translate(0, 50%) !important;
      }
    }
  }
}