.ie {
  section.team-advisors .membercontainer .memberimage .square {
    opacity: .8;

    .dots {
      opacity: .25;
    }
  }

  section.blockchain .blockchainsquare,
  .hero .square {
    display: none !important;
  }
  
  svg {
    circle {
      display: none;
    }
  }

  .table {
    margin: 0 auto !important;

    .polygon {
      svg {
        display: none !important;
      }

      .icasting-people {
        position: relative !important;
        top: 0 !important;
        transform: none !important;
      }
    }
  }
}