@media screen and (max-width: 1520px) {
  section.team-advisors {
    .membercontainer {
      width: 25%;
      max-width: unset;
    }

    span.team-left, span.team-right {
      top: unset;
      bottom: -30px;
      left: 0;
    }

    span.team-right {
      right: unset;
      left: 50px;
    }
  }
}

@media screen and (max-width: 1250px) {
  section.team-advisors {
    .membercontainer {
      width: calc(100% / 3);
      max-width: unset;
    }
    .advisor {
      width: 50%;
      max-width: unset;
      display: inline-block;
    }
  }

  .network .twirly .overlay .overlay-item {
    img {
      margin-bottom: -50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .network .twirly .overlay .overlay-item {
    h4 {
      font-size: 15px;
      line-height: 17px;
    }

    p {
      font-size: 14px;
    }
  }

  section.hero {
    .counter-container {
      #clockdiv {
        .clock-entity {
          .counter {
            height: 37px;
            width: 39px;
            font-size: 30px;
            padding-top: 17px;
          }
        }
      }
    }
  }
  section.tokenization {
    .container.table {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      margin-bottom: 40px;
    }
    .column-small, .column-large {
      display: block;
      width: 100%;
      text-align: center;
    }
    .text-left {
      display: none;
    }
    .selling-point-container {
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      
      &:nth-of-type(4), &:nth-of-type(5) {
        display: none;
      }
    }
    .mobile-message {
      display: block;
    }
    .column-large {
      margin-bottom: 100px;
      position: relative;
      height: 40vh;

      svg {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
      }
      img.icasting-people {
        z-index: 99;
      }
    }
    .flip-coins {

    }
  }
}

@media screen and (max-width: 968px) {
  section.hero {
    .container.first {
      padding: 5vh 0;
      .left, .right {
        display: block;
        width: 100%;
        text-align: center!important;
      }
      .left {
        height: 40vh;
      }
      .square {
        top: 40vh;
        left: -10vw;
        width: 110vw;
        height: 35vh;
      }
    }
    .hero-text {
      .text-contents {
        p {
          margin: 0 auto;
        }
      }
      .signup form {
        margin: 0 auto;
      }
    }
    .hero-bottom {
      .container {

        img.hero-img {
          left: -10vw;
          max-width: 550px;
          right: unset;
        }
      }
    }
  }
  section.team-advisors {
    .membercontainer {
      width: 50%;
      max-width: unset;
    }
  }

  footer {
    padding: 5vh 0;

    .half-page {
      margin: 20px 0 !important;
      width: 100%;
      display: inline-block;

      * {
        text-align: center;
      }

      form {
        margin: auto !important;
        height: auto !important;

        input {
          text-align: left;
        }
      }

      .social {
        text-align: center !important;
      }
    }

    .menu-footer-menu-container {
      margin: 40px 0;
    }
  }

  .network {
    padding-bottom: 130px;

    .twirly {
      margin: 60px auto 0;
      display: none;
      max-width: 400px;
      width: calc(100% - 60px);

      &.mobile {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .roadmap .carroussel-container .carroussel-inner .slide {
    .half-page {
      margin: 20px 0 !important;
      width: calc(100% - 30px);

      &.right {
        display: none;
      }
    }
  }

  section.team-advisors {
    .advisor {
      width: 100%;
      max-width: unset;
    }
  }
}

@media screen and (max-width: 550px) {
  section.team-advisors {
    .membercontainer {
      width: 100%;
      max-width: unset;
    }
  }
  section.tokenization {
    .column-large {
      height: 400px;
      .flip-coins {
        .flipper {
          height: 70px;
          width: 70px;
          img {
            height: 70px;
            width: 70px;
          }
        }
      }
    }
  }

  footer {
    .half-page {
      &.left {
        form {
          #mc_embed_signup_scroll {
            .button {
              position: relative;
              width: 100% !important;
              box-sizing: border-box;
              top: 0;
              right: 0;
              margin-top: 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .network .twirly .overlay .overlay-item {
    img {
      margin-bottom: -40px;
    }
  }
}

@media screen and (max-width: 400px) {
  section.tokenization {
    .column-large {
      height: 250px;
      .flip-coins {
        .flipper {
          height: 40px;
          width: 40px;
          img {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }

  .network .twirly .overlay .overlay-item {
    img {
      margin-bottom: -30px;
    }
  }
}