@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,500,700');

$primary-font-family: 'Ubuntu', sans-serif;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$primary-color: #df1f36;
$text-color: #00112a;