input[type="text"],input[type="email"], textarea {
  box-shadow: 0 8px 21px 0 rgba(179, 195, 219, 0.55);
  padding: 21px 30px!important;
  border: none;
  border-radius: 31px;
  font-family: $primary-font-family;
  font-weight: $font-weight-light;
}

input[type="submit"] {
  border: 1px solid #df1f36;
  font-weight: 700;
  color: #00112a;
  padding: 17px 27px;
  border-radius: 30px;
  font-size: 14px!important;
  letter-spacing: 2px;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $primary-color !important;
    color: white;
  }
}

.loading {
  opacity: 0;
  visibility: hidden;
  transition: all .25s ease-in-out;
  position: absolute;
  top: 2px;
  right: -60px;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

p.form-msg {
  margin-top: 20px;
  font-size: 14px;
}

#mc_embed_signup_scroll {
  position: relative;

  .email {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  .button {
    position: absolute;
    top: 4px;
    right: 4px;
    width: auto!important;
    background: white;
  }
}