.hero {
  position: relative;
  height: 150vh;
  .container.first {
    padding: 15vh 0;
    height: auto;

    .right {
      position: relative;
      z-index: 100;
    }
    .left {
      position: relative;
      z-index: 99;
    }
  }
  .hero-text {
    .text-contents {
      p.pretitle {
        color: $primary-color;
        font-size: 16px;
        margin-bottom: 0px;
      }
      h1 {
        font-size: 56px;
        line-height: 62px;
        font-weight: $font-weight-light;
        margin-bottom: 20px;
      }
      p {
        font-weight: $font-weight-light;
        max-width: 500px;
        width: 100%;
      }
    }
    .signup {
      margin-top: 100px;
      p {
        margin-bottom: 0px;
      }
      .gform_wrapper {
        margin-top: -20px;
      }
      form {
        height: 46px;
        border-radius: 3px;
        position: relative;
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
        max-width: 400px;

        label {
          display: none;
        }

        .gform_footer {
          position: absolute;
          right: 20px;
          box-shadow: none;
          top: 4px;
          line-height: 22px;
          margin: 0;
          clear: unset;
          width: auto;
          padding: 0;
        }
      }
      input {
        width: 100%!important;
      }
    }
  }

  .counter-container {
    text-align: center;

    h2 {
      color: white;
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    #clockdiv {
      display: block;
      margin-bottom: 40px;
      .clock-entity {
        display: inline-block;
        width: calc(20%);
        position: relative;

        .smalltext {
          margin-top: 10px;
          color: white;
        }

        &:after {
          content: ':';
          color: white;
          position: absolute;
          font-size: 35px;
          top: 15px;
          right: -8px;
          font-weight: $font-weight-bold;
        }

        &:last-of-type {
          &:after {
            display: none;
          }
        }

        .counter {
          background: white;
          font-size: 40px;
          font-weight: $font-weight-bold;
          text-align: center;
          height: 42px;
          width: 48px;
          padding-top: 17px;
          display: inline-block;
          border-radius: 5px;
        }
      }
    }
  }
  .hero-bottom {
    .container {
      padding-top: 15vh;

      img.hero-img {
        position: absolute;
        bottom: 0px;
        right: calc(-760px + 45vw);
        max-width: 760px;
      }
    }
  }
  .home-video {
    height: 500px;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75vw;
    box-shadow: 0px 50px 76px 0px rgba(0, 17, 42, 0.34);
    text-align: center;
    display: table;
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-position: center center;
    position: relative;

    iframe {
      height: 100%;
      position: absolute;
      left: 0;
      top: -10%;
      opacity: 0;
      visibility: hidden;
      transition: all .25s ease-in-out;
      z-index: 999;

      &.active {
        opacity: 1;
        top: 0;
        visibility: visible;
      }
    }

    &:hover {
      transform: scale(1.03);
    }

    .play {
      display: table-cell;
      vertical-align: middle;

      .button {
        height: 91px;
        width: 91px;
        background: $text-color;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;

        img {
          max-width: 40px;
          margin-top: 23px;
        }
      }
    }
  }
  .square {
    background: $primary-color;
    height: 80%;
    width: 100vw;
    position: absolute;
    top: 10%;
    z-index: 99;
    mix-blend-mode: darken;
    box-shadow: 32px 55px 73px 0px rgba(4, 30, 53, 0.17);
    left: 50%;
    transition: transform .8s cubic-bezier(1,0,.16,1);
    transition-delay: .5s;
    transform: translate(50%, 0%) matrix(1, 0, 0, 1, 0, 0);

    &.active {
      transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);

      .dots {
        transform: translate(0%, 50%) matrix(1, 0, 0, 1, 0, 0);
      }
    }

    .dots {
      position: relative;
      height: 51%;
      width: 100vw;
      background: url('assets/img/dotted_pattern.png');
      display: block;
      vertical-align: middle;
      transform: translateY(50%);
      opacity: 1;
      mix-blend-mode: darken;
      transition: transform .8s cubic-bezier(1,0,.16,1);
      transition-delay: 1s;
      transform: translate(50%, 50%) matrix(1, 0, 0, 1, 0, 0);
    }
  }
}

section.about {
  position: relative;
  z-index: 99;
  h2 {
    font-weight: $font-weight-light;
  }
  p.about-content {
    font-size: 16px;
    line-height: 25px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .numbers {
    margin-top: 10vh;
    margin-bottom: 50px;
    img {
      max-width: 192px;
    }
    h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: $font-weight-bold;
    }
  }

  .table {
    border-collapse: separate;
    border-spacing: 10px;
  }

  .counter-single {
    display: table-cell;
    width: 25%;

    .counter-number {
      font-size: 80px;
      font-weight: $font-weight-bold;
      color: $primary-color;
      margin-bottom: 70px;
      display: block;
    }

    h3 {
      font-size: 30px;
      font-weight: $font-weight-bold;
      line-height: 35px;
    }

    p {
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
    }

  }
}

section.blockchain {
  position: relative;
  height: 130vh;
  margin-bottom: 150px;
  .table {
    padding: 25vh 0 15vh;
    height: auto;
  }
  .right {
    position: relative;
    z-index: 99;
  }
  h2 {
    font-weight: $font-weight-light;
    width: 100%;
    max-width: 460px;
    margin-bottom: 50px;
  }

  .selling-points {
    display: table;
    width: 100%;
    max-width: 420px;
    text-align: left;
    margin-bottom: 25px;

    span {
      vertical-align: middle;
      display: table-cell;

      &.img {
        width: 50px;
      }

      img {
        max-width: 20px;
        margin-right: 30px;
      }
    }
  }
  .btn {
    margin-top: 30px;
  }

  .blockchain-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    img.hero-img {
      position: absolute;
      bottom: 100px;
      max-width: 1100px;
      left: calc(-1000px + 45vw);

    }
    .container {
      padding-top: 15vh;
    }
  }
  .blockchain-video {
    height: 500px;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75vw;
    box-shadow: 0px 50px 76px 0px rgba(0, 17, 42, 0.34);
    text-align: center;
    display: table;
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-position: center center;
    position: relative;

    iframe {
      height: 100%;
      position: absolute;
      left: 0;
      top: -10%;
      opacity: 0;
      visibility: hidden;
      transition: all .25s ease-in-out;

      &.active {
        opacity: 1;
        top: 0;
        visibility: visible;
      }
    }

    &:hover {
      transform: scale(1.03);
    }

    .play {
      display: table-cell;
      vertical-align: middle;

      .button {
        height: 91px;
        width: 91px;
        background: $text-color;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;

        img {
          max-width: 40px;
          margin-top: 23px;
        }
      }
    }
  }

  .blockchainsquare {
    background: $primary-color;
    height: 80%;
    width: 100vw;
    position: absolute;
    top: 10%;
    z-index: 99;
    mix-blend-mode: darken;
    box-shadow: 32px 55px 73px 0 rgba(4, 30, 53, 0.17);
    right: 60%;
    transition: transform .8s cubic-bezier(1,0,.16,1);
    transition-delay: .5s;
    transform: translate(-50%, 0%) matrix(1, 0, 0, 1, 0, 0);

    &.active {
      transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);

      .dots {
        transform: translate(-10%, 50%) matrix(1, 0, 0, 1, 0, 0);
      }
    }

    .dots {
      position: relative;
      height: 51%;
      width: 100vw;
      background: url('assets/img/dotted_pattern.png');
      display: block;
      vertical-align: middle;
      opacity: 1;
      mix-blend-mode: darken;
      transition: transform .4s cubic-bezier(1,0,.16,1);
      transition-delay: .7  5s;
      transform: translate(100%, 50%);
    }
  }
}

.close-hero-video, .close-blockchain-video {
  position: absolute;
  right: -9px;
  top: -30px;
  text-align: center;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 40px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  img {
    max-width: 19px;
  }
}

section.tokenization {
  background: #f8fcfe;
  padding: 10vh 0;

  .container {
    h2 {
      margin-bottom: 100px;
    }
  }

  .table {
    margin-bottom: 100px;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .column-small {
    display: table-cell;
    width: 25%;
    vertical-align: top;
  }
  .column-large {
    display: table-cell;
    width: 50%;
    vertical-align: middle;

    img.icasting-people {
      max-width: 490px;
      margin: 0 auto;
      display: block;
      width: 90%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }

    svg {
      max-width: 400px;
      margin: 0 auto;
      display: block;
      width: 90%;
      overflow: visible;
    }
  }

  .flip-coins {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);

    img {
      max-width: 90px;
    }
  }

  .flip-container {
    perspective: 1000px;

    .flipper.flip {
      transform: rotateY(-180deg);
    }

    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
      height: 90px;
      width: 90px;
      display: inline-block;
    }

    .front, .back {
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .back {
      transform: rotateY(180deg);
    }
  }
}

section.team-advisors {
  padding: 10vh 0;

  span.team-right, span.team-left {
    background: white;
    width: 30px;
    height: 30px;
    display: none;
    border-radius: 50%;
    border: 1px solid #00112a;
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 40%;
    text-align: center;

    &:hover {
      background: $text-color;

      svg {
        fill: white;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
    }
  }
  span.team-right {
    right: -50px;
  }
  span.team-left {
    left: -50px;
  }
  .teammembers {
  }
  h2 {
    font-weight: $font-weight-light;
  }
  p.advisor-subtitle {
    width: 100%;
    max-width: 700px;
  }

  .carousel-wrapper {
    overflow: hidden;
  }

  .team-carousel-inner {
    position: relative;
    left: 0;
    transition: all .5s ease-in-out;
    white-space: nowrap;
  }

  .membercontainer {
    display: inline-block;
    width: 360px;
    position: relative;
    overflow: hidden;

    &:nth-of-type(2) {
      .square {
        transition-delay: .6s!important;
      }
    }
    &:nth-of-type(3) {
      .square {
        transition-delay: .7s!important;
      }
    }
    &:nth-of-type(4) {
      .square {
        transition-delay: .8s!important;
      }
    }

    &.active {
      .square {
        transform: translateX(0)!important;
      }
    }

    .memberimage {
      width: 100%;
      max-width: 280px;
      position: relative;
      height: 420px;

      a {
        background: $text-color;
        height: 50px;
        width: 50px;
        position: relative;
        top: 13%;
        left: 5%;
        border-radius: 25px;
        display: block;
        z-index: 99;
        text-align: center;
        box-shadow: 1px 14px 27px 0px rgba(8, 23, 47, 0.31);

        img {
          height: 20px;
          width: 21px;
          margin-top: 50%;
          transform: translate(0,-50%);
        }
      }

      img.photo {
        position: absolute;
        bottom: 0;
        z-index: 0;
        height: 420px;
        right: 0;
      }

      .square {
        background: $primary-color;
        height: 90%;
        width: 240px;
        position: absolute;
        z-index: 99;
        mix-blend-mode: darken;
        transition: transform .8s cubic-bezier(1,0,.16,1);
        transition-delay: .5s;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);

        .dots {
          position: absolute;
          height: 51%;
          width: 100%;
          background: url(assets/img/dotted_pattern.png);
          display: block;
          vertical-align: middle;
          transform: translateY(50%);
          opacity: 1;
          mix-blend-mode: darken;
          transition: transform .8s cubic-bezier(0.6, 0.04, 0.98, 0.335);
        }
      }
    }
    .memberdetails {
      margin-top: 20px;
      h3 {
        font-size: 20px;
        margin-bottom: 0px;
      }
      p.job-title {
        font-weight: $font-weight-light;
      }
    }
  }

  .advisors {
    margin-top: 100px;
  }

  .advisor {
    display: table-cell;
    width: 25%;
    max-width: 420px;
    text-align: left;
    margin-bottom: 25px;
    position: relative;

    span {
      vertical-align: middle;
      display: table-cell;

      &.img {
        width: 110px;
      }

      img.advisor-img {
        box-shadow: 14px 23px 73px 0px rgba(4, 30, 53, 0.17);
        max-width: 86px;
        border-radius: 60px;
      }
    }

    p {
      margin-bottom: -4px;
      font-size: 14px;
      opacity: .8;
    }

    a.linkedin {
      height: 32px;
      width: 32px;
      border-radius: 16px;
      background: $text-color;
      position: absolute;
      bottom: 3px;
      left: 62px;
      text-align: center;
      transition: all .15s ease-in-out;

      &:hover {
        bottom: 6px;
      }

      img {
        width: 14px;
        margin-top: 30%;
      }
    }
  }
}